body {
  margin: 0;
  padding: 0;
  font-family: inter;
}
nav {
  background-color: #398e8a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: inter;
}

nav .logo img {
  width: 80px;
}

nav .links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav .links a {
  color: white;
  text-decoration: none;
}

nav .btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: inter;
  border: 1px solid #d4bfec;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

nav .btns span {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

nav .btns img {
  width: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 4rem; */
  background-color: #074643;
  color: white;
  height: 100vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0 94%, 0 93%);
}

header .texts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header .texts .txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header .texts .txt #head {
  font-family: "Train one", cursive;
  font-weight: 300;
  font-size: 2rem;
}

header .texts .txt #name {
  font-weight: 900;
  font-size: 2rem;
  font-family: inter;
}

header .texts .txt #job {
  font-weight: lighter;
  font-family: inter;
}

header .texts .btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header .texts .btns button {
  background-color: #101c1b;
  color: white;
  border: none;
  outline: none;
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
  font-size: 0.7rem;
  cursor: pointer;
}

header .texts .btns .icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .texts .btns .icon img {
  width: 8px;
}

header .texts .btns .icon span {
  font-weight: 900;
}

header .images img {
  width: 400px;
}

header .images .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
  background-color: white;
  max-width: fit-content;
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  position: absolute;
  bottom: 150px;
  left: 56%;
}

header .images .text #years {
  font-size: 2.5rem;
  font-weight: 900;
}
header .images .text #exp {
  font-size: 0.8rem;
  font-weight: 700;
}

/* mobile */
@media only screen and (max-width: 480px) {
  nav {
    /* display: none; */
    flex-direction: column;
    height: 80vh;
  }
  nav .links {
    flex-direction: column;
    position: relative;
    bottom: 2rem;
  }
  nav .links a {
    border-bottom: 2px solid white;
    width: 100vw;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  nav .logo img {
    position: relative;
    right: 10rem;
    bottom: 1rem;
  }
  
  header {
    flex-direction: column;
    clip-path: none;
  }
  header .images img {
    width: 300px;
  }
  header .images .text {
    position: relative;
    left: 1%;
    bottom: 160px;
  }
}

